@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
header{
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid #eaeaea;
}


/* footer{
  padding: 5px;
  color: #797979;
} */

footer ul{
  list-style-type: none;
  
}

footer .socialLinks{
  width: 150px;
  font-size: 25px;
}